.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Başlık stili */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .form {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Form içeriği */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Giriş alanları */
  .form input[type="text"], input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
  }
  
  /* Buton */
  .form button {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }